package model

import "fast-bpm/utils"

type {modelName}Model struct {
	BaseModel
	{columns}
}

func (p {modelName}Model) TableName() string {
	return "{tableName}"
}

func (c {modelName}Model) Clone() *{modelName}Model {
	return new({modelName}Model)
}

func (c {modelName}Model) CloneList() *[]*{modelName}Model {
	return new([]*{modelName}Model)
}
