package model

import "fast-bpm/utils"

type {modelName}Model struct {
	BaseModel
	{columns}
}

func (p {modelName}Model) TableName() string {
	return "{tableName}"
}

func (c {modelName}Model) Clone() interface{} {
	return new({modelName}Model)
}

func (c {modelName}Model) CloneList() interface{} {
	return new([]*{modelName}Model)
}
