package server

import (
	"fast-bpm/controller"
)

func init() {
	Register(register{routerName}Router)
}

func register{routerName}Router() {
	ctl := &controller.{routerName}Controller{} //controller对象
	dualGroup := r.Group("{dualRouter}")
	singularGroup := r.Group("{singularRouter}")
	{
		addDualBaseRouter(dualGroup, ctl)
		addSingularBaseRouter(singularGroup, ctl)
	}
}
