package server

import (
	"fast-bpm/controller"
	"fast-bpm/model"
)

func init() {
	Register(register{routerName}Router)
}

func register{routerName}Router() {
	ctl := &controller.{routerName}Controller{} //controller对象
	dualGroup := r.Group("{dualRouter}")
	singularGroup := r.Group("{singularRouter}")
	instance := &model.{routerName}Model{}
    {
        addDualBaseRouter(model.CloneList, dualGroup, ctl)
        addSingularBaseRouter(model.Clone, singularGroup, ctl)
    }
}
